*.o

/.network_rtt_pw
/catbench
/dist_a
/locksmith
/onmycommand
/perfexpl
/slowbro
/rtt_client
/rtt_server
/rtt_contender_*
/rtt_perf
/rtt_perf_duration
/rtt_client_pipe_in
/rtt_client_pipe_out
/perf.data*
