[submodule "external/dpdk"]
	path = external/dpdk
	url = git://dpdk.org/dpdk
	branch = releases
	ignore = untracked
[submodule "external/pqos"]
	path = external/pqos
	url = git://github.com/01org/intel-cmt-cat
	ignore = untracked
